@import '../../styles/mixins/bevel.scss';
@import '../../styles/mixins/bold.scss';

.button {
  @include bevel-deep;
  display: flex;
  border-radius: 0;
  gap: var(--spacing-xxs);
  align-items: center;
  padding: var(--spacing-xxxs);
  background: var(--color-gray);
  font-size: var(--font-size-md);
  width: max-content;

  &:focus {
    @include bevel-inset-deep;
  }

  &:disabled {
    text-shadow: 1px 1px 0 var(--color-white);

    &:hover {
      color: var(--color-gray-dark);
      text-shadow: none;
    }

    .icon {
      filter: grayscale(100%);
    }
  }
}

.icon {
  display: block;
  height: calc(var(--font-size-md) * var(--line-height));
  width: auto;
}

.label {
  display: block;
  flex-shrink: 0;
}

// Modifiers
.button--bold {
  .label {
    @include bold;
  }
}

.button--active {
  @include bevel-inset-deep;
}

.button--small {
  svg {
    width: 8px;
    height: 7px;
  }
}

.button--menu,
.button--menu-lg {
  border: none;
  min-width: 200px;
  width: 100%;

  &:hover,
  &:focus {
    background: var(--color-blue);
    color: var(--color-white);
    border: none;
  }
}

.button--menu {
  padding: var(--spacing-xxs);
  gap: var(--spacing-xs);
  width: 100%;
}

.button--menu-lg {
  padding: var(--spacing-xs);
  gap: var(--spacing-sm);

  .icon {
    height: var(--font-size-xxxl);
    width: auto;
  }
}