@import '/node_modules/normalize-scss/sass/normalize';
@import './mixins/focus.scss';
@import './mixins/bevel.scss';

@font-face {
  font-family: 'Windows';
  src: local('Windows Regular'), local('Windows'),
    url('../assets/fonts/Windows.woff2') format('woff2'),
    url('../assets/fonts/Windows.woff') format('woff'),
    url('../assets/fonts/Windows.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  // Colors
  --color-white: #ffffff;
  --color-gray-light: #dfdfdf;
  --color-gray: #c0c0c0;
  --color-gray-dark: #808080;
  --color-black: #000000;
  --color-teal: #008080;
  --color-blue: #010180;
  --color-blue-rgb: rgb(1, 1, 128);

  // Fonts
  --font-family-base: 'Windows', sans-serif;

  // Font sizes
  --font-size-base: 1;
  --font-size-xxs: 0.5rem;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-xxl: 1.5rem;
  --font-size-xxxl: 2rem;

  // Line height
  --line-height: 1.2;

  // Spacing
  --spacing-xxxs: 2px;
  --spacing-xxs: 4px;
  --spacing-xs: 8px;
  --spacing-sm: 16px;
  --spacing-md: 32px;
  --spacing-lg: 64px;
  --spacing-xl: 128px;
  --spacing-xxl: 256px;

  // Cursors
  --cursor-pointer: url('../assets/cursors/Cursor_15.gif'), pointer;
  --cursor-default: url('../assets/cursors/arrow.gif'), default;
  --cursor-resize: url('../assets/cursors/Cursor_6.gif'), nesw-resize;
  --cursor-not-allowed: url('../assets/cursors/Cursor_6.gif'), not-allowed;

  // Border
  --border-width: var(--spacing-xxxs);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family-base);
  cursor: var(--cursor-default);
  font-size: var(--font-size-md);

  &:focus {
    @include focus-inside;
  }
}

html {
  font-size: calc(var(--font-size-base) * 1rem);
}

body {
  font-size: var(--font-size-md);
  line-height: var(--line-height);
  cursor: var(--cursor-default);
}

hr {
  @include bevel-inset;
}

button {
  appearance: none;
  background: none;
  border: none;
}

.u-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}