@import '../../styles/mixins/bevel.scss';

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  &[hidden] {
    display: none;
  }
}

.modal {
  @include bevel-deep;
  padding: var(--spacing-xxxs);
  background: var(--color-gray);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.resize-handle {
  background-image: linear-gradient(
    to top left,
    var(--color-gray) 1px,
    var(--color-gray-dark) 2px,
    var(--color-white) 3px,
    var(--color-gray) 4px,
    var(--color-gray-dark) 5px,
    var(--color-white) 6px,
    var(--color-gray) 7px,
    var(--color-gray-dark) 8px,
    var(--color-white) 9px,
    var(--color-gray) 10px,
    transparent 11px
  );
  width: var(--resize-handle-size);
  height: var(--resize-handle-size);
  position: absolute;
  bottom: calc(var(--spacing-xxxs) + var(--border-width) + 1px);
  right: calc(var(--spacing-xxxs) + var(--border-width) + 1px);
  cursor: var(--cursor-resize);
  border: 1px solid var(--color-gray);
  border-top: none;
  border-left: none;
}

.header {
  flex: 0 0 auto;
}

.header-top {
  background-color: var(--color-blue);
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-xxxs);
  gap: var(--spacing-xs);
}

.title {
  white-space: nowrap;
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1;
}

.header-nav {
  display: flex;
  justify-content: flex-start;
  gap: var(--spacing-xxs);
}

.main-nav {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxs);
  padding: var(--spacing-xxxs);
}

.content-container {
  @include bevel-inset;

  width: 100%;
  height: 100%;
}

// Modifiers
.modal--inactive {
  .header {
    background-color: var(--color-gray-dark);
    color: var(--color-gray);
  }
}