$font-size-p: 1rem;
$font-size-h5: 0.5rem;
$font-size-h4: 1.5rem;
$font-size-h3: 2rem;
$font-size-h2: 4rem;
$font-size-h1: 8rem;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
