$font-size-p: 1rem;
$font-size-h5: 0.5 * $font-size-p;
$font-size-h4: 0.75 * $font-size-p;
$font-size-h3: 1.25rem;
$font-size-h2: 2.5rem;
$font-size-h1: 8rem;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
