/*  =========================================================================
    components.button
    Buttons communicate the action that will occur when the user touches them.
    ========================================================================= */

/*  Variables
    ========================================================================= */

/*  Functions/Mixins
    ========================================================================= */

/*  Module
    ========================================================================= */

/**
 * 1. Get the base styles from the shared input mixin
 * 1. remove text-decoration from other possible interactive elements
 * 2. Opinionated pointer cursor
 */
.c-button {
  @include shared-input; /* [1] */
  margin: 0;
  text-decoration: none; /* [2] */
  cursor: pointer; /* [3] */
  background-color: $color-brand-primary;
  color: $color-white;
  text-shadow: $text-shadow;

  #{$all-hovers} {
    color: $color-brand-primary;
    background-color: $color-white;
    border-color: currentColor;
    text-shadow: none;
  }
}

.button {
  @include grid-column(1);
  @include font-size($font-size-h4);

  width: auto;
  margin-bottom: $spacing-md;
  font-family: $font-family-heading;
  font-weight: $font-weight-heading;
  line-height: $line-height-heading;
  color: $color-black;

  &::after {
    content: "➞";
    @include font-size($font-size-h4 * 1.15);
    display: inline-block;
    margin-left: $spacing-md;
    transform: translateY(0.2rem);
  }
}

.button--white {
  color: $color-white;
  text-shadow: $text-shadow;
}
