.hero {
  padding-bottom: 0;
}

.hero__title {
  @include grid-column(12);
  @include font-size($font-size-h1);

  line-height: 0.7;
  position: relative;
  padding: $spacing-sm 0;
  margin-bottom: $spacing-lg;
}

.hero__title-span {
  text-transform: lowercase;
  display: block;
  color: $color-orange;

  &:nth-of-type(2n) {
    color: $color-blue;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    mix-blend-mode: multiply;
  }
}
