/*  =========================================================================
    components.input-text
    ========================================================================= */

/*  Variables
    ========================================================================= */

/*  Functions/Mixins
    ========================================================================= */

/*  Module
    ========================================================================= */

/**
 * Block: input-text
 * 1. Relies on the `shared-input` mixin in `01-tools/mixins/_shared-input.scss`
 */
.c-input-text {
  @include shared-input; /* [1] */
  border-color: currentColor;
  color: $color-gray-dark;

  #{$all-hovers} {
    border-color: $color-brand-primary;
  }

  /**
   * State: valid/invalid
   * 1. Shit needs to be immutable
   */
  &.is-valid {
    border-color: $color-success !important; /* [1] */
  }

  &.is-invalid {
    border-color: $color-error !important; /* [1] */
  }

  /**
   * State: disabled
   * 1. Shit needs to be immutable, disabled is disabled
   */
  &:disabled,
  &.is-disabled {
    color: $color-gray-medium !important; /* [1] */
    background-color: $color-gray-light !important; /* [1] */
    cursor: not-allowed;
  }

  &::placeholder {
    color: $color-gray-medium;
  }
}
