.project {
}

.project__wrapper-inner {
  position: relative;
}

.project__close {
  position: sticky;
  top: $spacing-lg;
}

.project__close-img {
  height: $font-size-h3 * 1.25;
}

.project__title {
}

.project__logo-container {
  clear: both;
  position: relative;
  display: block;
  margin: 0 auto $spacing-lg;
  width: grid-column-width(7);

  &::after {
    content: "";
    display: block;
    height: 0;
    padding-bottom: 100%;
  }
}

.project__logo {
  position: absolute;
  width: 100%;
  height: 100%;
}

.project__tags {
  @include grid-column(12);
  @include font-size($font-size-h4);

  margin-bottom: $spacing-md;
}

.project__content {
  @include grid-column(12);

  white-space: pre-line;
}
