/*  =========================================================================
    components.select
    ========================================================================= */

/*  Variables
    ========================================================================= */

/*  Functions/Mixins
    ========================================================================= */

/*  Module
    ========================================================================= */

/**
 * Block: select
 */
.c-select {
  position: relative;
  display: inline-block;
}

/**
 * Element: input
 * 1. Relies on the `shared-input` mixin in `01-tools/mixins/_shared-input.scss`
 * 2. Accommodate space for the icon
 * 3. Set explicit height because firefox does not respect the line-height
 */
.c-select__input {
  @include shared-input; /* [1] */
  @include supple-rem(
    height,
    $supple-line-height + $shared-input-padding-vertical * 2
  ); /* [3] */
  padding-right: $supple-space-large; /* [2] */
  border-color: currentColor;
  color: $color-gray-dark;

  #{$all-hovers} {
    border-color: $color-brand-primary;
  }

  /**
   * State: valid/invalid
   * 1. Shit needs to be immutable
   */
  &.is-valid {
    border-color: $color-success !important; /* [1] */
  }

  &.is-invalid {
    border-color: $color-error !important; /* [1] */
  }

  /**
   * State: disabled
   * 1. Shit needs to be immutable, disabled is disabled
   */
  &:disabled,
  &.is-disabled {
    color: $color-gray-medium !important; /* [1] */
    background-color: $color-gray-light !important; /* [1] */
    cursor: not-allowed;
  }
}

/**
 * Element: icon
 */
.c-select__icon {
  position: absolute;
  @include supple-rem(
    top,
    $shared-input-padding-vertical + $supple-line-height/2
  );
  @include supple-rem(right, $supple-space);
  @include supple-rem(width, $supple-font-size);
  @include supple-rem(height, $supple-font-size);
  transform: translateY(-50%);
  pointer-events: none;
  user-select: none;
}
