.skills {
  background-image: linear-gradient($color-gray-light, $color-gray-light);
  background-color: $color-blue;
  background-blend-mode: multiply;
  color: $color-white;
  padding-top: $spacing-lg * 0.75;
}

.skills__list {
  @include grid-container;

  list-style-type: none;
  margin-bottom: $spacing-md;
}

.skills__item {
  @include grid-column(12);
  margin-bottom: $spacing-md;

  @include media($screen-lg) {
    @include grid-column(6);
  }
}

.skills__item-title {
  @include font-size($font-size-h3);

  margin-bottom: $spacing-sm;
}

.skills__rating {
  @include font-size($font-size-h3 * 1.15);

  float: right;
  text-align: right;
  transform: translateY(-0.1rem);
}

.skills__text {
  @include grid-column(12);
  @include font-size($font-size-h3);

  font-family: $font-family-heading;
  font-weight: $font-weight-heading;
  line-height: $line-height-heading;
}
