.slider {
  list-style-type: none;
}

.slider__slide {
  display: flex !important; // I know, !important is vies
  justify-content: center;
}

.slider__image-wrapper {
  display: inline-block;
  position: relative;
  width: grid-column-width(7);

  &::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

.slider__image {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slider__link {
  display: inline-block;
  vertical-align: top;
}

.slider__info {
  height: $font-size-p * 1.25;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
}

.slider__button {
  border-radius: none;
  border: none;
  background: none;

  position: absolute;
  z-index: 1;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;

  width: 0;
  height: 0;
  border-top: ($font-size-h3 * 0.9) solid transparent;
  border-bottom: ($font-size-h3 * 0.9) solid transparent;
  border-right: ($font-size-h3 * 0.9) solid $color-blue;
  mix-blend-mode: multiply;

  &--next {
    border-left: ($font-size-h3 * 0.9) solid $color-blue;
    border-right: none;
    left: auto;
    right: 0;
  }
}
