@import '../../styles/mixins/bevel.scss';

.container {
  position: relative;
}

.menu {
  @include bevel-deep;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background: var(--color-gray);
}