@font-face {
    font-family: 'Windows';
    src: local('Windows Regular'), local('Windows'),
        url('Windows.woff2') format('woff2'),
        url('Windows.woff') format('woff'),
        url('Windows.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

