.desktop {
  --grid-item-size: calc(90px * var(--font-size-base));
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(auto-fill, var(--grid-item-size));
  grid-auto-columns: var(--grid-item-size);
  grid-gap: var(--spacing-md);
  padding: var(--spacing-xs);
  width: 100%;
  height: 100%;
}