@import '../../styles/mixins/focus.scss';

.desktop {
  --grid-item-size: 90px;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(auto-fill, var(--grid-item-size));
  grid-auto-columns: var(--grid-item-size);
  grid-gap: var(--spacing-md);
  padding: var(--spacing-xs);
  width: 100%;
  height: 100%;
}

.desktop-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: var(--color-white);

  &:focus {
    outline: none;

    .icon-container {
      @include focus-overlay;
    }

    .label {
      @include focus-colored;
      overflow: visible;
      max-height: none;
    }
  }
}

.icon-container {
  --icon-size: 50px;
  width: var(--icon-size);
  height: var(--icon-size);
  margin-bottom: var(--spacing-xs);
}

.icon {
  width: 100%;
  height: 100%;
}

.label {
  --line-height-label: 1.2;
  line-height: var(--line-height-label);
  max-height: calc(var(--font-size-md) * var(--line-height-label));
  overflow: hidden;
  text-overflow: ellipsis;
}